<div class="head-page" *ngIf="identity">
    <h1>{{titulo}}</h1>

    <a class="btn btn-default" *ngIf="identity && identity.role == 'ROLE_ADMIN'" [routerLink]="['/crear-artista']">
        Agregar artista
    </a>    

    <ul class="pagination pull-right">
        <li><a [routerLink]="['/artists', prevPage]">&laquo;</a></li>
        <li><a [routerLink]="['/artists', nextPage]">&raquo;</a></li>
    </ul>
</div>
<div class="clearfix"></div>
<ul class="artists-list" *ngIf="identity && identity != null">
    <li *ngFor="let artist of artists" class="col-lg-3 artist-item">
        <div class="artist-image">
            <img src="{{ url + 'get-image-artist/' + artist.image }}" alt="">
        </div>
        <div class="artist-name">
            <a [routerLink]="['/artista', artist._id]">{{ artist.name }}</a>
            <div class="buttons" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                <a class="btn btn-sm btn-warning" [routerLink]="['/editar-artista', artist._id]">Editar</a>
                <a class="btn btn-sm btn-danger" (click)="onDeleteConfirm(artist._id)" >Borrar</a>
            </div>
            <div class="seguro" *ngIf="confirmado == artist._id">
                <a class="btn btn-sm btn-danger" (click)="onDeleteArtist(artist._id)" >Eliminar</a>
                <a class="btn btn-sm btn-primary" (click)="onCancelArtist()" >Cancelar</a>
            </div>
        </div>        
    </li>
</ul>