<nav class="uk-navbar uk-navbar-container" *ngIf="identity">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a [routerLink]="['/']">ABM Usuarios</a></li>
            <li>
                <a href="#">Parent</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li>
				<a (click)="logout()" class="btn-logout">Salir</a>
			</li>
        </ul>

    </div>
</nav>

<div [class.hidden]="!identity" class="uk-grid">
	<div class="uk-width-1">
		<router-outlet></router-outlet>
	</div>
</div>

<div *ngIf="!identity" class="uk-grid">
	<div class="uk-width-1-2@m uk-width-1-1@s">
		<div class="uk-width-3-4">
			<h1>Identificate</h1>
			<div *ngIf="errorMessage">
				<div class="uk-alert-primary" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errorMessage }}</p>
				</div>
			</div>
			<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="uk-form-stacked">
				<div class="uk-margin">
					<label class="uk-form-label" for="form-stacked-text">Correo electrónico</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-stacked-text" type="email" #email="ngModel" name="email" [(ngModel)]="user.email" required />
					</div>
				</div>
				<div class="uk-margin">
					<label class="uk-form-label" for="form-stacked-text">Password</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-stacked-text" type="password" #password="ngModel" name="password" [(ngModel)]="user.password" required />
					</div>
				</div>
				<input type="submit" class="uk-button uk-button-primary" value="Entrar" />
			</form>
		</div>
	</div>
	<div class="uk-width-1-2@m uk-width-1-1@s">
		<div class="uk-width-9-10">
			<h1>Registrate</h1>
			<div *ngIf="alertRegister">
				<div class="uk-alert-success" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ alertRegister }}</p>
				</div>
			</div>
			<form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="uk-form-stacked">
				<div class="uk-margin">
					<label class="uk-form-label" for="">Nombre</label>
					<input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="user_register.name" class="uk-input" required />
				</div>
				<div class="uk-margin">
					<label class="uk-form-label" for="">Apellido</label>
					<input type="text" #apellido="ngModel" name="apellido" [(ngModel)]="user_register.surname" class="uk-input" required />
				</div>
				<div class="uk-margin">
					<label class="uk-form-label" for="">Correo electrónico</label>
					<input type="text" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="uk-input" required />
				</div>
				<div class="uk-margin">
					<label class="uk-form-label" for="">Contraseña</label>
					<input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="uk-input" required />
				</div>
				<input type="submit" class="uk-button uk-button-primary" value="Registrar" />
			</form>
		</div>
	</div>
</div>
