<nav class="uk-navbar uk-navbar-container" *ngIf="identity">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a [routerLink]="['/']">ABM Usuarios</a></li>
            <li>
                <a href="#">Parent</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li>
				<a (click)="logout()" class="btn-logout">Salir</a>
			</li>
        </ul>

    </div>
</nav>

<div [class.hidden]="!identity" class="uk-grid">
	<div class="uk-width-1">
		<router-outlet></router-outlet>
	</div>
</div>

<div *ngIf="!identity" class="uk-grid">
	<div class="uk-width-1-2@m uk-width-1-1@s">
		<div class="uk-card uk-card-default uk-width-9-10">
			<div class="uk-card-header">
				<h1 class="uk-card-title">Identificate</h1>
			</div>
			<div class="uk-card-body">
				<div *ngIf="errorMessage">
					<div class="uk-alert-primary" uk-alert>
						<a class="uk-alert-close" uk-close></a>
						<p>{{ errorMessage }}</p>
					</div>
				</div>
				<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="uk-form-stacked">
					<div class="uk-margin">
						<label class="uk-form-label" for="form-stacked-text">Correo electrónico</label>
						<div class="uk-form-controls">
							<input class="uk-input" id="form-stacked-text" type="email" #email="ngModel" name="email" [(ngModel)]="user.email" required />
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label" for="form-stacked-text">Password</label>
						<div class="uk-form-controls">
							<input class="uk-input" id="form-stacked-text" type="password" #password="ngModel" name="password" [(ngModel)]="user.password" required />
						</div>
					</div>
					<input type="submit" class="uk-button uk-button-primary" value="Entrar" />
				</form>
			</div>
		</div>
	</div>
	<div class="uk-width-1-2@m uk-width-1-1@s">
			<div class="uk-card uk-card-default uk-width-9-10">
				<div class="uk-card-header">
					<h1 class="uk-card-title">Registrate</h1>
				</div>
				<div class="uk-card-body">
					<div *ngIf="alertRegister">
						<div class="uk-alert-success" uk-alert>
							<a class="uk-alert-close" uk-close></a>
							<p>{{ alertRegister }}</p>
						</div>
					</div>
					<form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" class="uk-form-stacked" novalidate>
						<div class="uk-margin">
							<label class="uk-form-label" for="">Nombre</label>
							<input type="text" formControlName="nombre" class="uk-input" required [class.uk-form-danger]="nombre.invalid && (nombre.dirty || nombre.touched)" />					
							<div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="uk-alert-danger" uk-alert>
								<p *ngIf="nombre.errors.required">El nombre es requerido.</p>
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label" for="">Apellido</label>
							<input type="text" formControlName="apellido" class="uk-input" required [class.uk-form-danger]="apellido.invalid && (apellido.dirty || apellido.touched)" />
							<div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="uk-alert-danger" uk-alert>
								<p *ngIf="apellido.errors.required">El apellido es requerido.</p>
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label" for="">Correo electrónico</label>
							<input type="email" formControlName="mail" class="uk-input" email required [class.uk-form-danger]="mail.invalid && (mail.dirty || mail.touched)" />
							<div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="uk-alert-danger" uk-alert>
								<p *ngIf="mail.errors.required">El email es requerido.</p>
								<p *ngIf="mail.errors.email">El email es inválido.</p>
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label" for="">Contraseña</label>
							<input type="password" formControlName="pass" class="uk-input" required [class.uk-form-danger]="pass.invalid && (pass.dirty || pass.touched)" />
							<div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="uk-alert-danger" uk-alert>
								<p *ngIf="pass.errors.required">La password es requerida.</p>
							</div>
						</div>
						<input type="submit" class="uk-button uk-button-primary" value="Registrar" [disabled]="registerForm.pristine"/>
					</form>
				</div>
			</div>
		</div>
</div>
